<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
	<section id="plugin.brokenspacebars.brokenanime">
		<category id="debug" label="32001" help="">
			<group id="1" label="32001">
				<setting id="is_debug" type="boolean" label="32001" help="">
                    <level>0</level>
                    <default>false</default>
					<control type="toggle" />
				</setting>
			</group>
		</category>

        <category id="kitsu" label="32101" help="">
			<group id="1" label="32102">
				<setting id="usernameKitsu" type="string" label="32111" help="">
                    <level>0</level>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <default></default>
					<control type="edit" format="string">
                        <heading>32111</heading>
                    </control>
				</setting>

                <setting id="passwordKitsu" type="string" label="32121" help="">
                    <level>0</level>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <default></default>
					<control type="edit" format="string">
                        <heading>32121</heading>
                        <hidden>true</hidden>
                    </control>
				</setting>
			</group>
		</category>

        <category id="anilist" label="32201" help="">
			<group id="2" label="32202">
				<setting id="usernameAnilist" type="string" label="32211" help="">
                    <level>0</level>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <default></default>
					<control type="edit" format="string">
                        <heading>32211</heading>
                    </control>
				</setting>

                <setting id="passwordAnilist" type="string" label="32221" help="">
                    <level>0</level>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <default></default>
					<control type="edit" format="string">
                        <heading>32221</heading>
                        <hidden>true</hidden>
                    </control>
				</setting>
			</group>
		</category>
	</section>

    <!-- <setting id="debug" type="bool" label="32001" default="false"/> -->
</settings>

